body {
  margin: 0; /* â† reset default spacing */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Baumans', sans-serif;
  .centered {
  text-align: center; /* centers the text inside the div */
}

}
